*,*::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.image-body {
    height: 50vh;
    display: flex;
    justify-content: center;  
    width: 100vw;

    background-image: url(../../../assets/b771dc4d82f62bb8bde543934337da76.png);
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative; /* Important for pseudo-element */
    overflow: hidden; /* Prevent shadow overflow */
}

.image-body::before {
    content: '';
    position: absolute;
    inset: 0;
    box-shadow: inset 0 0 100% rgba(0, 0, 0, 1); /* Adjust shadow strength */
    pointer-events: none; /* Keeps the shadow from interfering with interactions */
    z-index: 1;
}



.image-body h1{
    font-size: 50px;
    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}
.image-body h2{
    font-size: 35px;
    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}