html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
    background-color: #f5f5f5;
}

.career-page {
  text-align: center;
}

.hero-section {
  height: 40rem;
  box-shadow: 0 1rem 10rem rgba(0, 0, 0, 0.5);
  margin-bottom: 10rem;
}

.hero-section-img-container{
  height: 100%;
  width: 100%;
  background-image: url("../../assets/image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.hero-section-text-container{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
}

.hero-section-h1{
  font-size: 6rem;
}

.hero-section-p{
  font-size: 3rem;
}

.why-work-here {
  margin-bottom: 10rem;
  height: 45rem;
  display: flex;
  justify-content: center;
}

.why-work-here-text-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.why-work-here-wrapper{
  display: flex;
  flex-direction: column; 
  margin-left: 15rem;
  text-align: left;
  gap: 2rem;
}

.why-work-here-h1{
  font-size: 2.5rem;
  margin: 0;
  font-family: 'poppins', sans-serif;
}

.why-work-here-p{
  font-size: 1.5rem;
  margin-bottom: 0;
  font-family: 'poppins', sans-serif;
}

.why-work-here-img-container{
  width: 50%;
}

.why-work-here-img-wrapper{
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.why-work-here-img{
  background-image: url("../../assets/Screenshot_1.png");
  width: 30%;
  height: 80%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.why-work-here-img-2{
  background-image: url("../../assets/Screenshot_2.png");
  width: 30%;
  height: 80%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.featured-positions {
  background: #f07f3444;
  height: 65rem;
  padding: 4rem;
}

.positions-title{
  font-size: 3rem;
  font-family: 'poppins', sans-serif;
  color: rgb(48, 8, 53);
}

.positions {
  margin-top: 10rem;
}

.positions-wrapper-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.positions-wrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
}

.positions-div{
  width: 30rem;
  height: 10rem;
  background: grey;
  border-radius: 1rem;
}

.position button {
  background: rgb(176, 80, 214);
  border: none;
  padding: 1rem;
  cursor: pointer;
  color: white;
  border-radius: 0.5rem;
}

@media screen and (max-width: 1854px) {
  html{
    width: 100%;
  }

  .why-work-here-p{
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 1701px) {
  .why-work-here-wrapper{
    margin-left: 10rem;
  }

  .positions-div{
    width: 20rem;
  }
}

@media screen and (max-width: 1363px) {
  .why-work-here-h1{
    font-size: 3.5rem;
  }

  .why-work-here-p{
    font-size: 1.1rem;
  }

  .why-work-here-img-wrapper{
    flex-direction: column;
    gap: 2rem;
  }

  .why-work-here-img{
    width: 80%;
    height: 40%;
    background-size: 100% 100%;
  }

  .why-work-here-img-2{
    width: 80%;
    height: 40%;
    background-size: 100% 100%;
  }

  .positions-div{
    width: 15rem;
  }
}

@media screen and (max-width: 1069px) {
  .why-work-here-wrapper{
    margin-left: 5rem;
  }
}

@media screen and (max-width: 1000px) {
  .hero-section-h1{
    font-size: 4rem;
  }

  .hero-section-p{
    font-size: 2rem;
  }

  .featured-positions{
    height: auto;
  }
  .positions-wrapper{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width:909px) {
  .hero-section{
    margin-bottom: 5rem;
  }
  .why-work-here{
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .why-work-here-wrapper{
    margin-right: 5rem;
  }

  .why-work-here-text-container{
    width: auto;
  }

  .why-work-here-img-container{
    width: 100%;
    height: 20rem;
  }

  .why-work-here-img-wrapper{
    flex-direction: row;
    width: 90%;
    margin-left: 3rem;
  }

  .why-work-here-img{
    width: 90%;
    height: 80%;
    background-size: 100% 100%;
  }

  .why-work-here-img-2{
    width: 90%;
    height: 80%;
    background-size: 100% 100%;
  }
}

@media screen and (max-width: 769px){
  .hero-section-text-container{
    top: 50%;
  }
}

@media screen and (max-width: 600px) {
  .why-work-here-wrapper{
    margin-bottom: 2rem;
  }

  .why-work-here-img-container{
    width: 100%;
    height: 40rem;
  }

  .why-work-here-img-wrapper{
    flex-direction: column;
    margin-left: 2rem;
  }

  .positions-wrapper{
    grid-template-columns: repeat(1, 1fr);
  }

  .positions-div{
    height: 15rem;
  }
}

@media screen and (max-width: 430px) {
  .hero-section-h1{
    font-size: 3.5rem ;
  }

  .hero-section-p{
    font-size: 1.5rem;
  }

  .why-work-here-h1{
    font-size: 2.5rem;
  }

  .why-work-here-p{
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 360px) {
  .why-work-here-img-wrapper{
    margin-left: 1rem;
  }
}







