.navbar {
    display: flex;
    justify-content:space-around;
    align-items: center;
    background: #0c0c0c;
    color: white;
    padding: 1rem 3rem;
    height: 80px;
    overflow: hidden;
    z-index: 9999;
    position:sticky;
    top:0;
  }
  
  
  /* Navbar Links */
  .nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 12rem;
    margin-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-grow: 1;
    
  }
  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 5px 10px;
    font-weight: normal;
    transition: color 0.3s;
  }
  .nav-links a.active {
    font-weight: bold;
    
  }
  .logo img {
    max-width: 120px;
    height: auto;
    display: block;
  }
  
  .nav-links li {
    display: inline;
  }
  
  .nav-links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1rem;
    font-weight: normal;
  }
  
  .nav-links a:hover {
    color: #F36E26;
  }
  
  /* Mobile Menu Toggle */
  .menu-toggle {
    display: none;
    font-size: 1.8rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  /* Responsive Navbar */
  @media (max-width: 768px) {
    .menu-toggle {
      display: block;
      
    }
  
    .nav-links {
      display: none;
      flex-direction: column;
      background: #444;
      position: absolute;
      top: 60px;
      right: 20px;
      width: 150px;
      text-align: center;
      border-radius: 5px;
      padding: 10px 0;
    }
  
    .nav-links.open {
        display: flex !important;
    }
  
    .nav-links li {
      margin: 10px 0;
    }
  }
  .logo-link img {
    width: 90px; /* Increase width */
    height: auto;
    display: block;
    transition: width 0.3s ease;
  }
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      height: auto;
      padding: 1rem;
      align-items: center;
    }
  
    .logo-link img {
      width: 120px;
      margin-bottom: 1rem;
    }
  
    .menu-toggle {
      display: block;
      align-self: flex-end; /* place toggle button to the right */
    }
  
    .nav-links {
      display: none;
      flex-direction: column;
      background: #444;
      width: 100%;
      text-align: center;
      border-radius: 5px;
      margin-top: 1rem;
      padding: 0;
      max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    }
  
    .nav-links.open {
      display: flex !important;
      max-height: 500px;
      padding: 10px 0;
    }
  
    .nav-links li {
      margin: 10px 0;
    }
  }
  
  .scroll-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #F36E26;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 50%;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 1001;
    transition: opacity 0.3s;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  }