*,*::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}




.about{
    width: 100%;
    height: 70vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Logo-section{
    margin: 2rem;
    width: 30%;
    height: 30vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}


.Image-logo{
    width: 10rem;
    height: 10rem;
    background-image: url(../../../assets/345534306d09f13787c016b81a2be872.png);
    background-color: rgba(255, 255, 255, 0.9);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    margin: 2rem;
    border: 2px solid white;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.Logo-section p{
    font-size: 18px;
}



h3{
    font-size: 50px;
    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}

.About-us-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 30%;
    height: 40vh;
 
}

.About1{
    width: 100%;
    height: 28vh;
 
}

.About2{
    width: 100%;
    height: 28vh;
   
}



