.image1{
    height: 90%;
    width: 100%;
    float: center;
    top: -20px;
    left: 10px;
    right: 0;
    bottom: 0;
    padding: none;
    position: fixed;
    object-fit: fill;
    z-index: -1;
}